<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/topnav.css">
    <link rel="stylesheet" href="/stylesheets/editprofile.css">
    <link rel="stylesheet" href="/stylesheets/sidenav.css">
    <script src="https://kit.fontawesome.com/39c203329b.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%- include("templates/topnav"); -%>
    <%- include("templates/sidenav"); -%>
    <section id="editprofilecontainer">
      <h1 id="editprofileheader">Edit Profile</h1>
      <form action="edit" method="POST">
        <table id="enterinfotable">
          <tr><th><label for="firstName">First Name</label></th></tr>
          <tr><th><input type="text" id="firstName" name="firstName" value="<%= user.firstName %>"></th></tr>
          <tr><th><label for="lastName">Last Name</label></th></tr>
          <tr><th><input type="text" id="lastName" name="lastName" value="<%= user.lastName %>"></th></tr>
          <tr><th><label for="birthday">Birthday</label></th></tr>
          <tr><th><input type="text" id="birthday" name="birthday" value="<%= user.birthday %>"></th></tr>
          <tr><th><label for="occupation">School or Work</label></th></tr>
          <tr><th><input type="text" id="occupation" name="occupation" value="<%= user.occupation %>"></th></tr>
          <tr><th><label for="bio">Bio</label></th></tr>
          <tr><th><textarea id="bio" name="bio"><%= user.bio %></textarea></th></tr>
        </table>
        <button id="submitinfobutton" type="submit">Update Profile</button>
      </form>
    </section>
  </body>
</html>
